    <footer class="bottom-footer" role="contentinfo">
        <div class="container">
            <div class="col-xs-5">
                <div class="social-list">
                    {{ with .Site.Params.social.vk }}
                        <a href="https://vk.com/{{.}}" title="VK" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    {{ end }}

                    {{ with .Site.Params.social.twitter }}
                        <a href="https://twitter.com/{{.}}" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    {{ end }}

                    {{ with .Site.Params.social.linkedin }}
                        <a href="https://ru.linkedin.com/in/{{.}}" title="LinkedIn" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    {{ end }}

                    {{ with .Site.Params.social.github }}
                        <a href="https://github.com/{{.}}" title="GitHub" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    {{ end }}
                </div>
            </div>

            <div class="col-xs-7">
                <div class="copyright text-right">
                    © <a href="/">Roman Peshkov</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {{ template "_internal/google_analytics_async.html" . }}
    </body>

</html>
