<div class="widget">
    <h5 class="widget__head">StackOverflow</h5>
    <div class="widget__body">
        <a href="http://stackoverflow.com/users/1105235/rpeshkov">
        <img src="http://stackoverflow.com/users/flair/1105235.png?theme=clean"
            width="208" height="58"
            alt="profile for rpeshkov at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
            title="profile for rpeshkov at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
        </a>
    </div>
</div>